# Node URLs (they should support debug_traceCall for simulation to work)
NODE_URL_ETHEREUM=
NODE_URL_POLYGON=
NODE_URL_GNOSIS=
NODE_URL_BSC=
NODE_URL_AVAX=
NODE_URL_OPTIMISM=
NODE_URL_BASE=
NODE_URL_WORLDCHAIN=
NODE_URL_UNICHAIN=
NODE_URL_ARBITRUM=
NODE_URL_CELO=
# Safe Transaction Service API Key
SAFE_TX_SERVICE_API_KEY=